body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #e3db07;
  color: #eaf0f2;
}

header {
  background: hsl(103, 91%, 56%);
  color: #031148;
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 10px;
  background: #100842;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #b7380a;
  color: white;
}
